<form action="/cool_url" method="post">
  <input type="text"     name="form1[:textbox]"    placeholder="Enter name here">
  <input type="textarea" name="form1[:textarea]"   placeholder="Tell me your life story">
  <input type="radio"    name="form1[:gender]"     value="dude">dude
  <input type="radio"    name="form1[:gender]"     value="lady">lady<br>
  <input type="checkbox" name="form1[:vehicle]"    value="Bike">I have a bike<br>
  <input type="checkbox" name="form1[:vehicle]"    value="Car">I have a car <br>
  
 
  <input type="submit" value="Submit">

</form>
