<form action="/" method="post">
  <input type="text"     name="form1[:textbox]"    placeholder="Enter name here">
  <input type="textarea" name="form1[:textarea]"   placeholder="Tell me your life story">
  <input type="radio"    name="form1[:gender]"             value="dude">dude
  <input type="radio"    name="form1[:gender]"             value="lady">lady

  
  <input type="check">

</form>
